/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

/* @font-face {
	font-family: 'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot');
	src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
 */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #333;
	background-color: white;
	//background: #333;
	//background-image: url("../img/main_logo - Copy.png");
	// background-size: 100% 100%;
    //background-repeat: no-repeat;
	//background-attachment: fixed;
    //background-position: center; 
	overflow: hidden;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	font-size: 0.72em;
	line-height: 2.2;
	z-index: 50000;
	top: 0;
	left: 0;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.2);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1); 
}


@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
}

