.navcolor {
    height: 25px;
}
.contains {
    height: 100%;
    overflow: auto;
}
.about {
    float: left;
    display: block;
    margin-left: 30px;
    margin-top: 15px;
    width: 600px;
    height: 450px;
}
.about p {
    color:white;
}
.a-video {
    float: left;
    display: block;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 80px;
}
.contacts {
    float: left;
    display: block;
    margin-left: 30px;
    margin-top: 25px;
    width: 600px;
    height: 450px;
    
}
#table-list {
    margin-left: 30px;
    margin-top: 20px;
}
.imp {
    font-size: 20px;
    vertical-align: text-top;
    padding-right: 20px;
    border-right: 4px solid black; 
    
}
.details {
    font-size: 13px;
    vertical-align: middle;
    padding-left: 15px;
}
.c-map {
    float: left;
    display: block;
    margin-left: 0px;
    margin-top: 70px;
}
.pt-page > .arrow {
    width: 30px;
    height: 30px;
}
.pt-page > .btm-rht {
    bottom: 35px;
    right: 25px;
    position: fixed;
}
.pt-page > .top-rht {
    top: 35px;
    right: 25px;
    position: fixed;
}
.pt-page > .top-lft {
    top: 35px;
    left: 25px;
    position: fixed;
}


.pt-page > .showlogo {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -500px;
    margin-top: -40px;
}

.event-intro {
    float: left;
    display: block;
    margin-left: 70px;
    margin-top: 25px;
    width: 650px;
    height: 450px;
    
}

.event-intro > p {
    font-size: 18px;
    text-align: justify;
}

.event-intro > h3 {

}

.event-img {
     float: left;
    display: block;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
}





/* Carousel */

.wrapper {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    bottom: 40px;
}
/* jssor slider bullet navigator skin 21 css */
/*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div {
    background-position: -5px -5px;
}
.jssorb21 div:hover, .jssorb21 .av:hover {
    background-position: -35px -5px;
}
.jssorb21 .av {
    background-position: -65px -5px;
}
.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}
/* jssor slider arrow navigator skin 21 css */
/*
            .jssora21l              (normal)
            .jssora21r              (normal)
            .jssora21l:hover        (normal mouseover)
            .jssora21r:hover        (normal mouseover)
            .jssora21ldn            (mousedown)
            .jssora21rdn            (mousedown)
            */

.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l {
    background-position: -3px -33px;
}
.jssora21r {
    background-position: -63px -33px;
}
.jssora21l:hover {
    background-position: -123px -33px;
}
.jssora21r:hover {
    background-position: -183px -33px;
}
.jssora21ldn {
    background-position: -243px -33px;
}
.jssora21rdn {
    background-position: -303px -33px;
}
/* Items in events */

.ch-grid {
    float: left;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    //width: 1200px;
    //height: 600px;
    //margin: 100px auto;
    //background: #A3CBE0;
    //border: 2px solid #000;
    //overflow: auto;
    //box-shadow: 0 0 10px #000;
}
.ch-grid:after, .ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}
.ch-img-1 {
    background-image: url(../img/4.jpg);
}
.ch-img-2 {
    background-image: url(../img/5.jpg);
}
.ch-img-3 {
    background-image: url(../img/6.jpg);
}
.ch-img-opc {
    background-image: url('../img/l-opc.png');
}
.ch-info {
    position: absolute;
    background: rgba(63, 147, 147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
.ch-info p a:hover {
    color: rgba(255, 242, 34, 0.8);
}
.ch-item:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
    opacity: 1;
}
/* navbar dropdown */

#primary_nav_wrap {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0
}
#primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}
#primary_nav_wrap ul li {
    position: relative;
    text-decoration: none;
    float: left;
    margin: 0;
    padding: 0
}
#primary_nav_wrap ul li.current-menu-item {
    background: #ddd
}
#primary_nav_wrap ul li:hover {
    background: #f6f6f6
}
#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}
#primary_nav_wrap ul ul li {
    float: none;
    width: 200px
}
#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px
}
#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}
#primary_nav_wrap ul li:hover > ul {
    display: block
}

/* padded section */
.pad-section {
  padding: 50px 0;

}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(../img/home.jpg) no-repeat center center fixed; 
  display: table;
  height: 639px;
  position: relative;
  top: 0%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../img/estate.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
  width: 100%;
}
